@model IEnumerable<Dmusic.Controllers.Album>

@{
    ViewData["Title"] = "Quản Lý Âm Nhạc";
}

<div class="container mt-4">
    <h1 class="text-center">Quản Lý Âm Nhạc</h1>
    <div class="col-md-4 text-end">
        <a asp-action="Create" class="button-create">Tạo Mới</a>
    </div>

    <!-- Form Tìm Kiếm và Nút Tạo Mới -->
    <div class="row mb-4">
       
        <!-- Form Tìm Kiếm -->
        <div class="col-md-8">
            <form asp-controller="Albums" asp-action="Index" method="get" class="form-search">
                <input type="text" name="SearchString" class="input-search" placeholder="Tìm kiếm theo tên album..." />
                <button type="submit" class="button-search">Tìm Kiếm</button>
            </form>
        </div>
        <!-- Nút Tạo Mới -->
       
    </div>

    <!-- Bảng Danh Sách Album -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                <th>@Html.DisplayNameFor(model => model.Artist)</th>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.TrackCount)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.TrackCount)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button-edit">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="button-details">Chi Tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button-delete">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
